
<p>Available buildings:</p>
<% var available = 0 %>
<% Object.keys(buildings).forEach(function(bldg){  %>  
   
    <% building = buildings[bldg]%>
    <% if(!building.built && (building.name == "Granary" || building.name == "Barracks")){ %>
        <button class = "build-action" id = "<%= building.type %>"><%= building.name %></button> cost: <%= building.cost %>
        <br>
        <% available++ %>
    <% } %>
<% }) %>

<% if(available == 0){ %>
    <p>You've built everything available</p>
<% } %>

