
<p>Buy unit:</p>
    
<p class = "bold">Civilian units</p>
<button id = "worker" class = "buy-button">Worker</button><br>         <!-- will need to remove if player has 5 workers -->
<button id = "scout" class = "buy-button">Scout</button><br>
<hr>

    <!-- if player has barracks, let him buy soldiers -->
    <p class = "bold">Military units</p>
    <button id = "footman" class = "buy-button">Footman</button><br>
    <button id = "archer" class = "buy-button">Archer</button><br>



