<% include partials/_header.ejs %>

<button id = "async">Send request</button>
<br>
<br>

<button id = "trigger">Trigger response</button>

<br>
<br>

<button id = "false">Make false</button>

<% include partials/_footer.ejs %>

