<% include partials/_header.ejs %>

<form action = "/name-city" method = "post">
    <input type="text" name="name" id="captal-name" placeholder="capital name" autofocus></input>
    <br>
    <br>
    <input type = "submit" value= "Name your city"></input>
</form>

<% include partials/_footer.ejs %>

<script src = "/js/gameActions.js"></script>
