<% include partials/_header.ejs %>



<div class = "control-panel">
	<div class = "tile" data-type = "city"> City </div>
	<div class = "tile" data-type = "opponents"> Opponents </div>
	<div class = "tile" data-type = "map"> Map </div>
</div>
<!-- 
<p>This is a game</p>
<button class = "buy-button" id = "scout">Buy a scout</button>
 -->
<div id = "basic-info">
    Player: <span class = "bold" id = "player-name"></span><br>
    City: <span id = "city-name"></span><br>
    Coin: <span id = "coin"></span> | Food: <span id = "food"></span>  <br> 
</div>

<div id = "city" class = "screen">
    <div class = "panel-section buildings">
        <p class = "bold">Buildings:</p>
        <div class = "bldg" id = "barracks">
            <span class = "name"></span>, lvl: <span class = "level"></span>, hp: <span class = "hp"></span>/<span class = "max-hp"></span>
            <button>Upgrade <span class = "name"></span></button>
        </div>
        <div class = "bldg" id = "granary">
            <span class = "name"></span>, lvl: <span class = "level"></span>, hp: <span class = "hp"></span>/<span class = "max-hp"></span>
            <button>Upgrade <span class = "name"></span></button>
        </div>
        <div class = "bldg" id = "citadel">
            <span class = "name"></span>, lvl: <span class = "level"></span>, hp: <span class = "hp"></span>/<span class = "max-hp"></span>
            walls: <span id = "citadel-walls"></span>
            <button>Upgrade <span class = "name"></span></button>
        </div>
        <hr>
        <div class = "new">
            <button class = "build">Build</button>
        </div>
    </div>

    <div class = "panel-section units">
        <p class = "bold">Units:</p>
        Scouts: <span id = "scout-count"></span>, lvl: <span id = "scout-lvl"></span><br>
        Footmen: <span id = "footman-count"></span>, lvl: <span id = "footman-lvl"></span><br>
        Archers: <span id = "archer-count"></span>, lvl: <span id = "archer-lvl"></span><br>
        <button class = "workers">Workers (<span id = "worker-count"></span>)</button><br>
        <hr>
        <div class = "new">
            <button class = "group">Group</button>
            <br><br>
            <button class = "buy-units">Create</button>
        </div>
    </div>

    

</div>



<div id = "opponents" class = "screen">
    <div class = "panel-section">
        <p class = "bold">Opponents:</p>
        <div class = "opponents">
            

        </div>
    </div>
</div>


<div id = "map" class = "screen">
    <p>I'm a map</p>
    <div id = "map-container">
        <p>Groups:</p>
        <div class = "group-section"></div>
        <div id = "map-graphic">
        </div>
    </div>
</div>


<div class = "popup">
    <div class = "popup-controls">
        <span id = "close" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </div>
    <div id = "popup-content"></div>
</div>


<% include partials/_footer.ejs %>

<script src = "/js/gameActions.js"></script>

