<% include partials/_header.ejs %>



<div class = "control-panel">
	<div class = "tile city"> City </div>
	<div class = "tile opponents"> Opponents </div>
	<div class = "tile map"> Map </div>

</div>

<p>This is a game</p>
<p id = "coin"></p>
<p id = "player-name"></p>
<p id = "scout-count"></p>


<button class = "buy-button" id = "scout">Buy a scout</button>







<% include partials/_footer.ejs %>

<script src = "/js/gameActions.js"></script>

