<% include partials/_header.ejs %>



<p>This is a game</p>
<p id = "coin"></p>
<p id = "player-name"></p>
<p id = "scout-count"></p>


<button class = "buy-button" id = "scout">Buy a scout</button>







<% include partials/_footer.ejs %>

<script src = "/js/gameActions.js"></script>

