/* alert messages, header */

#error {
    color: red;
}

#message {
    color: blue;
}

.links a{
    display: inline;
}

.links div {
    display: inline;
}

.account{
    float: right;
}


.alert {
	padding: 0;
	padding-top: 2%;
	text-align: center;
    min-height: 3.5em;
}


/* in game */

button {
    width: 30%;
}


.control-panel {
	background: gray;
	display: block;
	margin-bottom: 2em;
	text-align: center;
}

.tile {
	display: inline-block;
	min-width: 33%;
	border: 1px solid black;
	text-align: center;
}

.tile:hover {
	background: yellow;
}

#opponents, #actions, .bldg{
    display: none;
}

.panel-section {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid black;
}

.bold {
    font-weight: bold;
}

.new {
    text-align: center;
}

/* actions */

.good-action {
    color: blue;
}

.bad-action {
    color: red;
}

.old-action {
    color: gray;
    opacity: 0.5;
}


/* popup */

.popup {
    min-height: 40%;
    width: 60%;
    border: 1px solid red;
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 20%;
    background: white;
    display: none;
}

.popup-controls {
    min-height: 2.5em;
}

.popup button {
    width: 10%;
}

.popup .small-button{
    width: 3%;
}

#popup-content {
    padding: 0 10% 10% 10%;
}


#close {
    float: right;
    font-size: 2em;
}

#close:hover {
    color: red;
}

.flavor {
    font-size: 0.8em;
    font-style: italic;
}

