/* alert messages, header */

.error {
    color: red;
}

.message {
    color: blue;
}

.links a{
    display: inline;
}

.links div {
    display: inline;
}

.account{
    float: right;
}


.alert {
	padding: 0;
	padding-top: 2%;
	text-align: center;
}

.control-panel {
	background: gray;
	display: block;
	margin-bottom: 2em;
	text-align: center;
}

.tile {
	display: inline-block;
	min-width: 33%;
	border: 1px solid black;
	text-align: center;
}

.tile:hover {
	background: yellow;
}